@import "./base.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  background-color: #e1e1f533;
  height: auto;
  min-height: 100vh;
}
#petimg {
  height: 35rem;
}
.contentForm {
  width: 100%;
  text-align: center;
}
input {
  color: #000;
}
input,
label {
  text-align: left;
}
.navMenu {
  padding: 1rem;
  background-color: rgb(30 58 138);
}
.navMenu a {
  color: #fff;
  margin: 0.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
.navMenu a:hover {
  color: #ff9800;
}
